{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}Witaj{% endblock %}
{% block primary %}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <table class="table  table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                    <tr>
                        <th>Nazwa</th>
                        <th>Data powstania</th>
                    </tr>
                    </tr>
                    </thead>
                    {% for album in albums %}
                    <tr>
                        <td><a href="{% url 'servealbum' album.id %}">{{ album.name }}</a></td>
                        <td>{{ album.creation_date }}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</section>
{% endblock %}