{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}Witaj{% endblock %}
{% block primary %}

        <div class="jumbotron text-center bg-primary text-white">
                <h1>Albumy Bartka Dempca</h1>
                <p class="lead">Znajdziesz tu listę albumów ze zdjęciami wykonanymi lub zebranymi przeze mnie. </p>

        </div>
    <div class="jumbotron text-center bg-white ">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Autoryzacja. Podaj swój numer telefonu</h3>
                        </div>
                        <div class="panel-body ">
                            <form  role="form" method="post" action="{% url 'login_user' %}">
                                <fieldset class="col-xs-2 form-group">
                                    {% csrf_token %}
                                    <div class="form-group ">
                                        <input class="form-control" placeholder="785415254" name="phoneno" type="password" autofocus>
                                    </div>
                                    <input type="submit" value="OK" class="btn btn-lg btn-success btn-block">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

{% endblock %}